body {
    background-color: #FCFCFC;
    color: #373737;
}

::-moz-selection {
    background: #8ed3ff;
    color: #373737;
}

::selection {
    background: #8ed3ff;
    color: #373737;
}

thead tr {
    border-color: #373737;
}

tbody tr:nth-child(odd) {
    background: #F9F9F9;
}

tbody tr:nth-child(even) {
    background: #FFF;
}

.org-src-container ::-moz-selection {
    background: #8ed3ff;
}

.org-src-container ::selection {
    background: #8ed3ff;
}

.post a::after,
.links a::after,
.switch-lights::after,
.back-to-top a::after {
    background: #373737;
}


/* Scrollbar stuffffffffff */
::-webkit-scrollbar {
      height: 4px;
      width: 4px;
} /* this targets the default scrollbar (compulsory) */

::-webkit-scrollbar-track {
    background: inherit;
} /* the new scrollbar will have a flat appearance with the set background color */

::-webkit-scrollbar-thumb {
    background: #cacaca;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
} /* this will style the thumb, ignoring the track */

::-webkit-scrollbar-button {
    display: none
} /* optionally, you can style the top and the bottom buttons (left and right for horizontal bars) */

::-webkit-scrollbar-corner {
    background: inherit;
} /* if both the vertical and the horizontal bars appear, then perhaps the right bottom corner also needs to be styled */


/* color theme generated from htmlize (uses leuven faces) */

.org-src-container pre {
    color: #333333;
    background-color: #FFF;
}

.org-builtin {
    /* font-lock-builtin-face */
    color: #006FE0;
}
.org-c-annotation {
    /* c-annotation-face */
    color: #D0372D;
}
.org-clojure-interop-method {
    /* clojure-interop-method-face */
    color: #808080;
}
.org-clojure-keyword {
    /* clojure-keyword-face */
    color: #D0372D;
}
.org-comment {
    /* font-lock-comment-face */
    color: #8D8D84;
}
.org-comment-delimiter {
    /* font-lock-comment-delimiter-face */
    color: #8D8D84;
}
.org-constant {
    /* font-lock-constant-face */
    color: #D0372D;
}
.org-css-property {
    /* css-property */
    color: #00AA00;
}
.org-css-selector {
    /* css-selector */
    color: #0000ff;
    font-weight: bold;
}
.org-doc {
    /* font-lock-doc-face */
    color: #036A07;
}
.org-function-name {
    /* font-lock-function-name-face */
    color: #006699;
}
.org-haskell-constructor {
    /* haskell-constructor-face */
    color: #6434A3;
}
.org-haskell-definition {
    /* haskell-definition-face */
    color: #006699;
}
.org-haskell-keyword {
    /* haskell-keyword-face */
    color: #0000FF;
}
.org-haskell-operator {
    /* haskell-operator-face */
    color: #BA36A5;
}
.org-highlight-numbers-number {
    /* highlight-numbers-number */
    color: #D0372D;
}
.org-julia-macro {
    /* julia-macro-face */
    color: #808080;
}
.org-keyword {
    /* font-lock-keyword-face */
    color: #0000FF;
}
.org-negation-char {
}
.org-org-default {
    /* org-default */
    color: #333333;
    background-color: #FFFFFF;
}
.org-preprocessor {
    /* font-lock-preprocessor-face */
    color: #808080;
}
.org-rainbow-delimiters-depth-1 {
    /* rainbow-delimiters-depth-1-face */
    color: #707183;
}
.org-rainbow-delimiters-depth-2 {
    /* rainbow-delimiters-depth-2-face */
    color: #7388D6;
}
.org-rainbow-delimiters-depth-3 {
    /* rainbow-delimiters-depth-3-face */
    color: #909183;
}
.org-rainbow-delimiters-depth-4 {
    /* rainbow-delimiters-depth-4-face */
    color: #709870;
}
.org-rainbow-delimiters-depth-5 {
    /* rainbow-delimiters-depth-5-face */
    color: #907373;
}
.org-rainbow-delimiters-unmatched {
    /* rainbow-delimiters-unmatched-face */
    background-color: #FFDCDC;
    text-decoration: underline;
}
.org-string {
    /* font-lock-string-face */
    color: #008000;
}
.org-tuareg-font-lock-constructor {
    /* tuareg-font-lock-constructor-face */
    color: #333333;
    background-color: #FFFFFF;
}
.org-tuareg-font-lock-governing {
    /* tuareg-font-lock-governing-face */
    color: #000000;
    font-weight: bold;
}
.org-tuareg-font-lock-module {
    /* tuareg-font-lock-module-face */
    color: #6434A3;
}
.org-tuareg-font-lock-operator {
    /* tuareg-font-lock-operator-face */
    color: #a52a2a;
}
.org-type {
    /* font-lock-type-face */
    color: #6434A3;
}
.org-underline {
    /* underline */
}
.org-variable-name {
    /* font-lock-variable-name-face */
    color: #BA36A5;
}
.org-bold {
    /* bold */
    color: #000000;
    font-weight: bold;
}
.org-italic {
    /* italic */
    color: #1A1A1A;
    font-style: italic;
}
.org-strike-through {
    text-decoration: line-through;
}
.org-org-block-begin-line {
    /* org-block-begin-line */
    color: #555555;
    background-color: #E2E1D5;
}
.org-org-block-end-line {
    /* org-block-end-line */
    color: #555555;
    background-color: #E2E1D5;
}
.org-org-checkbox {
    /* org-checkbox */
    color: #434343;
    font-weight: bold;
}
.org-org-code {
    /* org-code */
    color: #006400;
    background-color: #FDFFF7;
}
.org-org-date {
    /* org-date */
    color: #00459E;
}
.org-org-done {
    /* org-done */
    color: #BBBBBB;
    background-color: #F0F0F0;
    font-weight: bold;
}
.org-org-footnote {
    /* org-footnote */
    color: #008ED1;
}
.org-org-level-1 {
    /* org-level-1 */
    color: #3C3C3C;
    background-color: #F0F0F0;
    font-size: 130%;
    font-weight: bold;
    text-decoration: overline;
}
.org-org-level-2 {
    /* org-level-2 */
    color: #123555;
    background-color: #E5F4FB;
    font-weight: bold;
}
.org-org-level-3 {
    /* org-level-3 */
    color: #005522;
    background-color: #EFFFEF;
    font-weight: bold;
}
.org-org-level-4 {
    /* org-level-4 */
    color: #EA6300;
    font-weight: bold;
}
.org-org-level-5 {
    /* org-level-5 */
    color: #E3258D;
    font-weight: bold;
}
.org-org-level-6 {
    /* org-level-6 */
    color: #0077CC;
    font-weight: bold;
    font-style: italic;
}
.org-org-level-7 {
    /* org-level-7 */
    color: #2EAE2C;
    font-weight: bold;
    font-style: italic;
}
.org-org-level-8 {
    /* org-level-8 */
    color: #FD8008;
    font-weight: bold;
    font-style: italic;
}
.org-org-link {
    /* org-link */
    color: #006DAF;
}
.org-org-list-dt {
    /* org-list-dt */
    color: #335EA8;
    font-weight: bold;
}
.org-org-meta-line {
    /* org-meta-line */
    color: #008ED1;
    background-color: #EAEAFF;
}
.org-org-special-keyword {
    /* org-special-keyword */
    color: #00BB00;
    background-color: #EAFFEA;
    font-weight: bold;
}
.org-org-table {
    /* org-table */
    color: #006400;
    background-color: #EAFFEA;
}
.org-org-todo {
    /* org-todo */
    color: #D8ABA7;
    background-color: #FFE6E4;
    font-weight: bold;
}
.org-org-verbatim {
    /* org-verbatim */
    color: #0066CC;
    background-color: #F7FDFF;
}
.org-org-document-info {
    /* org-document-info */
    color: #484848;
}
.org-org-document-info-keyword {
    /* org-document-info-keyword */
    color: #008ED1;
    background-color: #EAEAFF;
}
.org-org-document-title {
    /* org-document-title */
    color: #000000;
    font-size: 180%;
    font-weight: bold;
}
.ATTRLIST {
    /* (:foreground "#3F3F3F") */
    color: #F2F2F2;
}
.org-org-tag {
    /* org-tag */
    color: #9A9FA4;
    background-color: #ffffff;
    font-style: italic;
}
.org-org-done, .org-org-todo {
    padding: 0px 3px;
    border-left: solid 1px;
    border-right: solid 1px;
}

.done {
    color: #BBBBBB;
}

.todo {
    color: #D8ABA7;
}