body {
    font-family: 'Lora', 'serif';
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2em;
}

#wrapper {
    max-width: 700px;
    margin: 0 auto;
    padding: 0 18px;
}

body,
.src,
table tr,
.org-builtin,
.org-c-annotation,
.org-clojure-interop-method,
.org-clojure-keyword,
.org-comment,
.org-comment-delimiter,
.org-constant,
.org-css-property,
.org-css-selector,
.org-doc,
.org-function-name,
.org-haskell-constructor,
.org-haskell-definition,
.org-haskell-keyword,
.org-haskell-operator,
.org-highlight-numbers-number,
.org-julia-macro,
.org-keyword,
.org-org-default,
.org-preprocessor,
.org-rainbow-delimiters-depth-1,
.org-rainbow-delimiters-depth-2,
.org-rainbow-delimiters-depth-3,
.org-rainbow-delimiters-depth-4,
.org-rainbow-delimiters-depth-5,
.org-rainbow-delimiters-unmatched,
.org-string,
.org-tuareg-font-lock-constructor,
.org-tuareg-font-lock-governing,
.org-tuareg-font-lock-module,
.org-tuareg-font-lock-operator,
.org-type,
.org-variable-name,
.org-bold,
.org-italic,
.org-org-block-begin-line,
.org-org-block-end-line,
.org-org-checkbox,
.org-org-code,
.org-org-date,
.org-org-done,
.org-org-footnote,
.org-org-level-1,
.org-org-level-2,
.org-org-level-3,
.org-org-level-4,
.org-org-level-5,
.org-org-level-6,
.org-org-level-7,
.org-org-level-8,
.org-org-link,
.org-org-list-dt,
.org-org-meta-line,
.org-org-special-keyword,
.org-org-table,
.org-org-todo,
.org-org-verbatim,
.org-org-document-info,
.org-org-document-info-keyword,
.org-org-document-title,
.ATTRLIST,
.org-org-tag {
    -webkit-transition-property: background, color;
    -webkit-transition-duration: 1300ms;
    -webkit-transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
    transition-property: background, color;
    transition-duration: 1300ms;
    transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
}

table tr {
    -webkit-transition-property: border, background-color;
    transition-property: border, background-color;
}

h1, h2, h3, h4, h5, h6, table {
    font-family: 'Fira Sans', sans-serif;
}

h1 {
    font-size: 1.7em;
    font-weight: 700;
}

a {
    position: relative;
    text-decoration: none;
    color: inherit;
}

p {
    line-height: 1.5em;
}

figure {
    margin: 0;
}

sub, sup {
    font-size: 0.66em;
}

figcaption {
    font-size: 1em;
    text-align: center;
}

table {
    width: 100%;
    font-size: 0.7em;
}

th {
    text-align: left;
}

thead tr {
    border-bottom: 1px solid;
}

th, td {
    padding: 0.3em 0px;
}

dt {
    font-weight: bold;
}

dd {
    padding: 0.2em 0em;
    font-size: 16px;
}

blockquote {
    font-style: italic;
}

blockquote:before {
    display: block;
    height: 0;
    content: "“";
    margin-left: -.75em;
    font: italic 400%/1 "Source Code Pro";
    color: #999;
}

blockquote p {
    display: inline;
    line-height: 0.3em;
}

blockquote .author {
    display: block;
    text-align: right;
    font-style: italic;
    color: #666;
}

hr {
    border: none;
    margin: 2.0em auto;
    text-align: center;
}

hr:before {
    content: "***";
    letter-spacing: 1em;
}

li {
    margin: 0.5em 0;
}

.outline-2,
.outline-3 {
    margin-top: 2.5em;
}

.switch-lights {
    position: relative;
    margin: 0;
    padding: 0;
    padding-right: 2px;
    border: 0;
    background: 0;
    outline: 0;
}

.right {
    text-align: right;
}

.post a,
.links a,
.switch-lights,
.back-to-top a,
.org-org-date,
.org-underline,
.org-org-footnote {
    border-bottom: 1px solid;
}

.example:before {
  content: "Result: ";
}

.links {
    margin-left: 0;
}

.links a {
    display: block;
}

.footdef > sup {
    display: table-cell;
    position: static;
    font-size: 1em;
}

.footdef > p {
    display: table-cell;
}

.footnum {
    margin-right: 0.5em;
}

.footnotes {
    display: none;
}

#footnotes {
    margin: 2em 0;
}

.back-to-top {
    margin: 1em 0;
    text-align: center;
}

.site-nav {
    margin: 0 0 2em;
}

.links > li {
    display: inline-block;
    margin: 0 1em 0 0;
}

.post-list {
    list-style: none;
    margin-left: 0;
}


.post-list > li {
    margin: 1em 0;
}

.post-time {
    margin: 0 1em 0 0;
}

.post {
    margin: 4em 0 0;
}

.post > header {
    margin: 2em 0;
}

.post img {
    width: 100%;
}

.post-title {
    margin-bottom: 0;
}

.post-date {
    display: block;
    font-size: 0.9em;
    margin-top: 0.5em;
}

.site-nav {
    font-weight: 700;
}

.post-date, .org-org-document-title, .site-nav {
    font-family: 'Fira Sans', sans-serif;
}

.not-found {
    text-align: center;
}

code {
    font-family: "Source Code Pro";
}

.done, .todo {
    line-height: 1em;
    display: inline-block;
    font-weight: 700;
    padding: 4px 3px 2px;
    font-size: 0.7em;
    border: solid 1px;
    position: relative;
    top: -2px;
}

.org-src-container ::-moz-selection {
    color: inherit;
}

.org-src-container ::selection {
    color: inherit;
}

.org-src-container pre {
    font-family: "Source Code Pro";
    letter-spacing: 0;
    font-weight: 400;
    font-size: 0.7em;
    padding: 1em;
}

.org-src-container {
    line-height: 1em;
}

ul, ol {
    padding: 0;
    margin-left: 1em;
}

@media screen {
    .org-src-container pre {
        max-height: 500px;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
    }
}

@media (max-width: 540px) {
    body {
        font-size: 14px;
    }

    .org-src-container pre {
        max-height: 330px;
    }

    .done, .todo {
        top: -1px;
    }
}

@media print {
    .site-nav, .site-footer {
        display: none;
    }

    pre {
        white-space: pre-wrap;       /* css-3 */
        white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
        white-space: -pre-wrap;      /* Opera 4-6 */
        white-space: -o-pre-wrap;    /* Opera 7 */
        word-wrap: break-word;       /* Internet Explorer 5.5+ */
    }
}