  <div class="post">
    <header>
      <h1>{{cat-name}}</h1>
    </header>
    <ul class="post-list">
      {{#posts}}
          <li><time class="post-time">{{date}}</time><a href="{{post-uri}}">{{post-title}}</a></li>
      {{/posts}}
    </ul>
  </div>
