    <footer class="site-footer">

        <div class="back-to-top">
            <a href="#">back to top</a>
        </div>

        <script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
        <script src="/media/js/main.js"></script>
    </footer>
