    <nav class="site-nav">{{! nav }}
      <ul class="links">
        <li><a href="/">main</a></li>
        <li><a href="/rss.xml">rss</a></li>
        <li><button class="toggle-colors">toggle colors</button></li>
      </ul>
    </nav>
