    <nav class="site-nav">{{! nav }}
      <ul class="links">
        <li><a href="/">{{site-main-title}}</a></li>
         <li><a href="/about/">about</a></li>
        {{#nav-categories}}
        <li><a href="{{category-uri}}">{{category-name}}</a></li>
        {{/nav-categories}}
        <li><a href="/atom.xml">atom</a></li>
        <li><button class="switch-lights">lights off</button></li>
      </ul>
    </nav>
