<article class="post">
{{#title}}
<header>
    <h1 class="post-title">{{title}}</h1>
</header>
{{/title}}
<div class="post-content">
{{{content}}}
</div>
<footer>
    <div class="back-to-top">
        <a href="#">back to top</a>
    </div>
</footer>
</article>
