    <article class="post">
      {{#title}}
      <header>
          <h1 class="post-title">{{title}}</h1>
          {{#show-meta}}
          <time class="post-date">{{{date}}}</time>
          {{/show-meta}}
      </header>
      {{/title}}
      {{{content}}}
    </article>
